.profile-sell {

  &__content {
    width: 100%;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__seller {
    display: flex;
    align-items: top;
    justify-self: start;
  }
  
}

.seller {
  
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }

  &__img-mob-block {
    display: none;
  }

  &__img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: rgb(240, 240, 240);

    & img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }

  &__right {
    width: auto;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
  }

  &__inf,
  &__city {
    font-size: 16px;
    line-height: 21px;
    color: rgb(95, 95, 95);
  }

  &__btn {
    margin-top: 20px;
    background-color: #009EE4;
    border-radius: 6px;
    border: 1px solid #009EE4;
    width: 214px;
    height: 62px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;

    & span {
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
  }
}